body {
  background-color: black;
}

.App {
  text-align: center;
}

/* begin image styles */
.img-box {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
/* end image styles */
