body {
  background-color: #000;
}

.App {
  text-align: center;

  /* 
   * setting the app div to take up the entire screen.  if we do not then the
   * image will not sit in the middle of the screen and mouse events for the
   * App div will fit the size of the image iow you will have to roll over
   * the image in order to activate our mousemove events, this fixes all that
   */
  width: 100vw;
  height: 100vh;
}

/* begin image styles */
.img-box {
  display: grid;
  height: 100%;
  
  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
}
/* end image styles */

/* begin qr code styles */
.qr-box {
  position: fixed;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1;
  transition: .5s ease-in-out;

    &.open {
      right: 10px; 
    }

    &.close {
      right: -130px;
    }
}
/* end qr code styles */