.navigation-center-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
  }
  
.navigation-container {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}

button {
    background-image: -webkit-linear-gradient(top, #eb94d0, #7b9fb6);
    background-image: -moz-linear-gradient(top, #eb94d0, #7b9fb6);
    background-image: -ms-linear-gradient(top, #eb94d0, #7b9fb6);
    background-image: -o-linear-gradient(top, #eb94d0, #7b9fb6);
    background-image: linear-gradient(to bottom, #eb94d0, #7b9fb6);
    outline: none;
}

#back-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#forward-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#pause-button {
    margin-left: 5px;
    margin-right: 5px;
}
