@import "../theme/common";

.navigation-center-container {
    width: 100%;
    position: fixed;
    bottom: -72px;
    transition: .25s ease-in-out;

    &:hover {
        bottom: 0px;
    }

    &.open {
        bottom: 0px;

        .navigation-container{
            border-top: solid 5px transparent;
            transition: .25s ease-in-out;
        }
    }

    &.close {
        bottom: -72px;
    }
}

.navigation-container {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    border-top: solid 5px $primary-blue;

    &:hover{
        border-top: solid 5px transparent;
        transition: .25s ease-in-out;
    }

    /* start button styles */
    > button {
        font-size: 16px;
        margin: 5px;
        border-radius: 50%;
        display: inline-block;
        padding: 15px 20px;
        background-color: $primary-blue;
        color: #fff;
        border: none;
        box-shadow: rgba(0,0,0,0.15) 0px 3px 10px, rgba(0,0,0,0.22) 0px 3px 10px;
        outline: none;

        &:hover {
            cursor: pointer;
            background-color: #004578;
        }

        &:disabled {
            background-color: #666666;
        }

        &:disabled:hover{
            cursor: not-allowed;
        }
    }

    %simple-button {
        font-size: 24px;
        cursor: pointer;
        background-color: transparent;
        color: #666666;
        box-shadow: none;
    
        &:hover {
            color: #a6a6a6;
        }
    }

    .close-button {
        @extend %simple-button;
        padding-right: 10px;
    }

    .slideshow-enabled {
        @extend %simple-button;
        padding-left: 10px;    
        color: #e7f0f0;   

        &:hover {
            color: #e7f0f0;   
        } 
    }

    .slideshow-disabled {
        @extend %simple-button;
        padding-left: 10px;  
    }
    /* end button styles */
}