.navigation-center-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
  }
  
.navigation-container {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}