<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="DiskPublishPath" value="/var/jail/data/piosk_pickup/" />
    <add key="SFTPPublishPath" value="/data/piosk_pickup/" />
    <add key="SFTPUsername" value="piosk_publisher" />
    <add key="SFTPAddress" value="192.168.42.1" />
    <add key="EnablePublishToSFTP" value="false" />
    <add key="EnablePublishToDisk" value="true" />
    <!-- MinAvailableSpaceOnPi is a percentage -->
    <add key="MinAvailableSpaceOnPi" value="51" />
    <add key="DefaultPageSettleDelaySeconds" value="30" />
    <add key="DefaultPanelMaxCapture" value="10" />
    <add key="MaxLogLinesForDisplay" value="1000" />    
  </appSettings>
</configuration>
